@import "~bootstrap/scss/bootstrap";

@import "variables";
@import "normalize";
@import "mixins";
@import "base";
@import "typography";
@import "landing";
@import "utilities";

body {
  overflow-x: hidden;
  > .wrapper {
    min-height: 100vh;
    @media (max-width: $bp-md) {
      flex-direction: column-reverse;
      background-color: $white;
    }
  }
}

h1 {
  .anchor {
    display: none;
  }
}

.main {
  padding: 0 1rem;
  z-index: 1;

  img {
    border: 1px solid $gds-gray-200;
    border-radius: 0.5rem;
    padding: 0.25rem;
  }

  &:not(.has-toc) {
    > .doc-nav {
      display: none;
    }
  }
  @media (max-width: $bp-md) {
    &.active {
      background-color: $bg-overlay-color;
      overflow: hidden;
      position: fixed;
    }
  }
}

ul,
ol {
  padding-left: 1.5em;
}

.nav-wrapper {
  background-color: $gds-white;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 50px;
  height: calc(100% - 46px);
  transition: all 0.3s;
  border-right: 1px solid $gds-gray-200;
  z-index: 2;
  &.active {
    width: $sidebar-width;
    .nav-toggle {
      .arrow {
        left: 19px;
        transform: rotate(0);
        &:nth-child(2) {
          left: 25px;
        }
      }
      .label {
        display: block;
        pointer-events: none;
        font-size: 0.875rem;
        color: $gds-gray-700;
        margin-left: 30px;
        flex-shrink: 0;
      }
    }
    .global-nav {
      visibility: visible;
    }
  }
  .nav-toggle {
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 0;
    &:hover {
      background-color: $gds-gray-200;
    }
    &:focus {
      box-shadow: none;
    }
    .label {
      display: none;
    }
    .arrow,
    .arrow::before,
    .arrow::after {
      cursor: pointer;
      pointer-events: none;
      border-radius: 1px;
      height: 2px;
      width: 9px;
      background: $gds-gray-700;
      position: absolute;
      display: block;
      content: "";
    }
    .arrow {
      transform: rotate(180deg);
      background-color: transparent;
      &:nth-child(2) {
        left: 19px;
      }
    }
    .arrow::before {
      top: 0;
      transform: rotate(45deg) translateY(4px);
    }
    .arrow::after {
      top: 0;
      bottom: -7px;
      transform: rotate(-45deg) translateY(-4px);
    }
  }
  @media (max-width: $bp-lg) {
    width: 0;

    .nav-toggle {
      display: none;
    }

    &.active {
      width: $sidebar-mobile-width;

      .nav-toggle {
        display: block;
      }
    }
  }
}

// Override bootstrap's alert color
.alert {
  color: inherit;
  border: 0;
  border-radius: 0;
  opacity: 0.9;
  code {
    background-color: $alert-code-background-color;
    word-break: break-word;
    color: $code-color;
  }
  i {
    padding-right: 10px;
  }
}

// Main header CSS
.navbar {
  min-height: $header-height;
  background-color: $header-background-color;

  .navbar-brand {
    font-size: 1rem;
  }

  .btn {
    line-height: 1rem;
    font-size: 0.875rem;
  }

  .navbar-nav {
    margin-top: 0;

    .dropdown-menu {
      a {
        border-bottom: 0;

        &:hover {
          border-bottom: 0;
        }
      }
    }
  }

  .nav-item {
    margin-bottom: 0;
  }

  .nav-link {
    color: $gds-indigo-100;
  }

  .form-inline {
    .fa-search {
      z-index: 1;
    }

    .algolia-autocomplete {
      @media all and (max-width: $bp-lg) {
        width: 100%;
        margin: 0 2.5rem 0 0.5rem;
      }
    }

    .docsearch {
      font-size: 1rem;
      height: 2rem;
      min-width: 20rem;
      text-indent: 1.25rem;
      padding: 0 1rem;

      @media all and (max-width: $bp-sm) {
        min-width: 100%;
      }
    }
  }

  .dropdown-toggle {
    background-color: $help-indigo-500;
  }

  @media all and (max-width: $bp-md) {
    .btn {
      width: 100%;
    }
  }
}
